@import url("./Utality.css");

body{
          background-color: white;

          /* margin: 0px; */
}
.navtop{
          width: 100%;
          height: 37px;
        
          border-bottom:var(--borderStyle) var(--borderthickness) var(--BorderColor);
}

.navtop div{
          width: 90%;
          height:37px ;
         
          /* margin: auto; */
}

.navtop div .QuickLinks{
          width: 321px;
          height: 37px;
         
          float: left;
          color: var(--linkColor);
}

.navtop div .QuickLinks a{

          color: var( --linkColor);
          text-decoration: none;
          font-size:var(--lnksize);
          text-align: center;
          line-height: 37px;

          font-family: var(--linksFontsName);
          font-weight: var(--linksFontsWeight);
          font-style: var( --linksFontsStyle);
}

.navtop div .QuickLinks a:hover
{
color: var( --linkColorHover);
text-decoration: underline;
}

.navtop div .QuickLinks a::selection
{
background-color: var(--linkColorSelection);

}


.navtop div  marquee{
          width: 300px;
          height: 37px;
       
          float: left;
          color: var(--linkColor);
          font-size:var(--lnksize);
          line-height: 50px;
          text-align: center;
          font-family: var(--linksFontsName);
         
          
}

.navtop div  .SupportAndLangAndCurrency{
          width: 370px;
          height: 37px;
          /* background-color: red; */
          float: right;
}

.navtop div  .SupportAndLangAndCurrency h1{
          color: var(--linkColor);
          font-size:var(--lnksize);  
          font-family: var(--linksFontsName); 
          font-weight: 100; 
          line-height: 37px;
}

.navtop div  .SupportAndLangAndCurrency h1 span{
          color: var(--linkColorSelection);
}

.headerSite{
          width: 100%;
          height: 126px;
          background-color: pink;
          border-bottom:var(--borderStyle) var(--borderthickness) var(--BorderColor);

}

.headerSite div{
          width: 90%;
          height:126px ;
           background-color: yellow;
           /* margin: auto; */
}
 
.menuSite{

          background-color: blue;
          width: 100%;
          height: 73px;
          border-bottom:var(--borderStyle) var(--borderthickness) var(--BorderColor);
/* 
          margin: 0px;
          padding: 0px; */

}

.menuSite div{
          width: 90%;
          height: 73px;
          background-color: palevioletred;
          /* margin: auto; */
}
.boxed{
          width: 90%;
          height: 2000px;
          background-color: red;
          margin-left: auto;
          margin-right: auto;

}

.footerSite{
          width: 90%;
          height: 482px;
          background-color: yellow;
          margin: 0px auto 0px auto;
}