
/*Generic Rule */
*{
          margin: 0px;
          padding: 0px;
          margin: auto;
}

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/*Declare variables by Css */
:root{
          --borderStyle:solid;
          --BorderColor:rgba(233, 236, 239, 1);
          --borderthickness:1px;
          
          --linkColor:rgba(126, 126, 126, 1);
          --linkColorHover:rgb(53, 53, 53);
          --linkColorSelection:rgba(59, 183, 126, 1);
          --linksFonts:"Lato", sans-serif;
          --linksFontsWeight: 400;
          --linksFontsStyle: normal;
          --lnksize:.8em;

}

  