*{
  box-sizing: content-box;
  margin: 0px;
  padding: 0px;
}

.banner{
  display: inline;
  width: 100%;
  border-bottom: 1px solid gray;
  position: fixed;
  top: 0px;
  text-align: center;
  padding: 15px 0px;
}

.banner > h3 {
  display: inline;
}
.banner > h3 > span {
  font-weight: lighter;
}

.banner > a{
  display: inline;
  background-color: lightgreen;
  padding: 10px;
}

/* ------------- */
.boxes{
  width: 400px;
  height: 400px;
  background-color: red;
  margin: 50px auto;
}